.gameElement {
    flex: 3;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.gameElement {
    font-size: 15px;
}

.headerContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.header {
  display: flex;
}

.secondHeader{
  display: none;
}

  @media only screen and (min-width: 850px) {
    .secondHeader{
        display: flex;
    }
  
    .headerContainer{
      grid-template-columns: repeat(2, 1fr);
    }
  }