mat-card {
    display: flex;
    padding: 5px;
}

.gameElement {
    flex: 3;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.gameElement {
    font-size: 15px;
}

.headerContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 600px) {
    .secondHeader{
        display: none;
    }
  
    .headerContainer{
      grid-template-columns: repeat(1, 1fr);
    }
  }