<mat-card>
    <mat-horizontal-stepper (selectionChange)="createTwoLists()" #stepper>
        <mat-step label="Select Winning Teams">
            <pick-card *ngFor="let pick of picks" sortable="true" [pick]="pick"></pick-card>
            <pick-survivor *ngIf="survivorSelection" [teams]="survivorSelection" [picks]="picks" [survivor]="survivor" (onChange)="updateSurvivor($event)"></pick-survivor>
        </mat-step>
        <mat-step label="Order Games">
            <h3>Rank Games (16 Points = Most Confident)</h3>
            <div class="listGroup" cdkDropListGroup>
                <div class="list" cdkDropList [cdkDropListData]="picksTop" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let pick of picksTop; index as index" cdkDrag>
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        <div class="draggable">
                            <span cdkDragHandle class="draggableItem">{{pickLength-index}}</span>
                            <sortable-game sortable="true" [team]="pick?.pick" class="draggableItem"></sortable-game>
                        </div>
                    </div>
                </div>
                <div class="list" cdkDropList [cdkDropListData]="picksBottom" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let pick of picksBottom; index as index" cdkDrag>
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        <div class="draggable">
                            <span cdkDragHandle class="draggableItem">{{pickLength-middle-index}}</span>
                            <sortable-game sortable="true" [team]="pick?.pick" class="draggableItem"></sortable-game>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="submit()" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
            </button>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>