<div>
    <mat-horizontal-stepper linear #stepper>
        <mat-step label="Select">
            <pick-header></pick-header>
            <div class="pickContainer">
                <pick-card *ngFor="let pick of picks" [pick]="pick"></pick-card>
            </div>
            <pick-survivor *ngIf="survivorSelection" [teams]="survivorSelection" [picks]="picks" [survivor]="survivor" (onChange)="updateSurvivor($event)"></pick-survivor>
            <mat-card>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tiebreaker" (input)="updateTiebreaker($event.target.value)" [value]="tiebreaker">
                </mat-form-field>
            </mat-card>
        </mat-step>
        <mat-step label="Order">
            <span>Most Confident</span>
            <div class="listGroup" cdkDropListGroup>
                <div class="list" cdkDropList [cdkDropListData]="picks" (cdkDropListDropped)="drop($event)">
                    <div class="sortablePick" *ngFor="let pick of picks; index as index" cdkDrag>
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        <div class="handle"cdkDragHandle>
                            <mat-icon>unfold_more</mat-icon>
                        </div>
                        <div class="gameDetails">
                            <sortable-game sortable="true" [pick]="pick"></sortable-game>
                        </div>
                    </div>
                </div>
            </div>
            <span>Least Confident</span><br>
            <button (click)="submit()" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
            </button>
        </mat-step>
    </mat-horizontal-stepper>
</div>
