.placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
  }

.draggable{
  display: inline-flex;
  margin-bottom: 10px;
  cursor: all-scroll;
}

.draggableItem{
  margin: 5px;
}

.listGroup{
  width: 100%;
  display: inline-flex;
  overflow: visible;
}

.list{
  flex: 1;
}
