<mat-grid-list cols="{{columnNum}}" rowHeight="2:1" gutterSize="5px" (window:resize)="onResize($event)">
    <mat-grid-tile 
        *ngFor="let pick of picks" 
        [style.background-color]="getWinner(pick.game, pick.pick)">
        <div class="stack">
            <img src="assets/logos/{{pick.game.homeTeam.teamAbv}}.png">
            <span class="smallText {{selected(pick.game.homeTeam, pick.pick)}}">{{pick.game.homeTeam.teamAbv}}</span>
        </div>
        {{pick.game.homeScore}}
        -
        {{pick.game.awayScore}}
        <div class="stack">
            <img src="assets/logos/{{pick.game.awayTeam.teamAbv}}.png">
            <span class="smallText {{selected(pick.game.awayTeam, pick.pick)}}">{{pick.game.awayTeam.teamAbv}}</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>