.mat-grid-tile {
    border-radius: 5px;
}

.game {
    display: flex;
    flex-grow: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

img{
    max-height: 95%;
    max-width: 95%;
}

.team{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfo{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.gameDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    line-height: 1.1;
}

.score{
    position: absolute;
}

.qrt {
    min-height: 8px;
}

.smallText{
    font-size: 12px;
}

.superSmallText{
    font-size: 8px;
}

.winner{
    background-color: lawngreen;
}
.loser{
    background-color: red;
}

.pick{
    font-weight: 900;
    text-decoration: underline;
}