img{
    max-height: 40px;
    margin: auto;
}

.content {
    display: -webkit-inline-box;
}

.record {
    font-size: 12px;
    color: silver;
}

.details{
    line-height: 100%;
    margin: auto;
}