<mat-card>
    <mat-table [dataSource]="survivors">

        <ng-container *ngFor="let playerKey of playerKeys" matColumnDef="{{playerKey}}">
            <mat-header-cell *matHeaderCellDef><span class="header">{{playerKey}}</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="{{checkWinner(element[playerKey].game, element[playerKey].pick)}}">
                <span class="center">{{element[playerKey].pick.teamAbv}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="playerKeys"></mat-header-row>
        <mat-row *matRowDef="let row; columns: playerKeys;"></mat-row>
    </mat-table>
</mat-card>