.sortableGameContainer {
    display: flex;
    border-bottom: solid silver;
    border-width: 1px;
}

.pickDetails{
    flex: 1;
}

.gameDetails{
    flex: 1;
    font-size: 12px;
}

img{
    max-height: 40px;
}

