#container{
    display: flex;
}

.element{
    flex: 1;
}

.subtitle {
    display: block;
    font-size: 0.8em;
    margin-top: 2px;
    max-width: 150px;
}

img{
    max-height: 40px;
}

.flexInline{
    flex: 1;
    display: inline-flex;
}

