.example-full-width {
    width: 100%;
  }

.main{
    margin: 5px;
    padding: 5px;
}

.pickContainer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 850px) {
  .main {
    margin: 12px;
  }

  .pickContainer{
    grid-template-columns: repeat(2, 1fr);
  }
}