<div class="main">
    <pick-header></pick-header>
    <div class="pickContainer">
        <pick-card *ngFor="let pick of picks" [pick]="pick"></pick-card>
    </div>
    <pick-survivor *ngIf="survivorSelection" [teams]="survivorSelection" [picks]="picks" [survivor]="survivor" (onChange)="updateSurvivor($event)"></pick-survivor>
    <mat-card>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tiebreaker" (input)="updateTiebreaker($event.target.value)" [value]="tiebreaker">
        </mat-form-field>
        <button (click)="submit()" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
    </mat-card>
</div>