mat-card {
    display: grid;
    padding: 5px;
    border-top: solid lightgray
    
}

spread-indicator{
    padding-top: 18px;
}

.teams {
    padding-top: 15px;
    display: flex;
    width: 100%;
}

.gameElement {
    flex: 1;
    margin: auto;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
}

.spread {
    flex: 1;
    margin: auto;
    text-align: center
}

.picked{
    border: solid  grey;
    background-color: #e0ecff
}