mat-card {
    display: grid;
    padding: 5px;
    border-top: solid lightgray
    
}

spread-indicator{
    padding-top: 20px;
}

.teams {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}

.gameElement {
    flex: 1;
    margin: auto;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.picked{
    border: solid  grey;
    background-color: #e0ecff
}