.smallScreen {
    display: inline-block;
}

.center{
    margin: auto;
}

mat-card {
    display: block;
    padding: 8px;
    padding-left: 5px;
}

img{
    max-height: 40px;
}

.game {
    display: none;
}

.gameElement, .teamElement {
    flex: 1;
}

.flexInline{
    display: inline-flex;
}

.favorite {
    flex: 1;
    display: inline-block;
    margin: auto;
    text-align: center;
}

mat-radio-group {
    flex: 2;
    flex-wrap: wrap;
    display: flex;
}

mat-radio-button {
    flex: 1;
}

mat-radio-button .subtitle {
    display: block;
    font-size: 0.8em;
    margin-top: 2px;
    max-width: 150px;
}

.smallFont{
    margin: auto;
    text-align: center;
    flex: 0.5;
    font-size: 12px;
}

/* Big Screen */

@media (min-width: 700px) {
    mat-card {
        display: flex;
        padding: 15px;
    }
    .smallScreen {
        display: none;
    }
    .game {
        flex: 3;
        font-size: 25px;
        display: flex;
    }
    .gameElement {
        margin: auto;
        text-align: center;
    }
}