.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.username{
  flex: 1;
  margin-right: 20px;
  font-size: 15px;
  text-align: right;
}

.mainHeader{
  width: 100%; 
  display: flex;
}
