<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/game/select-picks">Select Picks</a>
      <a mat-list-item href="/game/matrix">Matrix</a>
      <!-- <a mat-list-item href="/game/survivors">Survivor</a> -->
      <a mat-list-item href="/game/standings">Standings</a>
      <ng-template [ngIf]="admin">
          <a mat-list-item href="/admin/switch-account">Player Status</a>
          <a mat-list-item href="/admin/update-spread">Update Spread</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="mainHeader">
        <span>NFL Picks</span>
        <div class="username">
          <button mat-button [matMenuTriggerFor]="menu">{{adminUser}}</button>
          <span *ngIf="user != adminUser">({{user}})</span>
          <mat-menu #menu="matMenu">
            <button (click)="logout()" mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    <alert></alert>
    <router-outlet></router-outlet>
    <alert></alert>
  </mat-sidenav-content>
</mat-sidenav-container>