<mat-card>
    <mat-table [dataSource]="matrix">
        <ng-container matColumnDef="home">
            <mat-header-cell *matHeaderCellDef class="team"><span class="header">Home</span></mat-header-cell>
            <mat-cell *matCellDef="let element"
                class="team {{checkGameWinner(element.ref.game, element.ref.game.homeTeam)}}">
                <span class="center">{{element.ref.game.homeTeam.teamAbv}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="spread">
            <mat-header-cell *matHeaderCellDef class="spread"><span class="header">Spread</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="spread">
                <span class="center">{{element.ref.game.spread.favTeam.teamAbv}}
                    (-{{element.ref.game.spread.points}})</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="away">
            <mat-header-cell *matHeaderCellDef class="team"><span class="header">Away</span></mat-header-cell>
            <mat-cell *matCellDef="let element"
                class="team {{checkGameWinner(element.ref.game, element.ref.game.awayTeam)}}">
                <span class="center">{{element.ref.game.awayTeam.teamAbv}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef class="score"><span class="header">Score</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="score">
                <span class="center">{{element.ref.game.homeScore}} - {{element.ref.game.awayScore}}</span>
            </mat-cell>
        </ng-container>

        <ng-container *ngFor="let playerKey of playerKeys" matColumnDef="{{playerKey}}">
            <mat-header-cell *matHeaderCellDef class="team"><span class="header">{{playerKey}}</span></mat-header-cell>
            <mat-cell *matCellDef="let element"
                class="team {{checkPickWinner(element[playerKey].game, element[playerKey].pick)}}">
                <span class="center">{{element[playerKey].pick.teamAbv}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-table class="topBorder" [dataSource]="statusMatrix">
        <ng-container matColumnDef="home">
            <mat-cell *matCellDef="let element" class="team">
                <div class="fixed"><b>{{element["ref"]}}</b></div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="spread">
            <mat-cell *matCellDef="let element" class="spread"></mat-cell>
        </ng-container>

        <ng-container matColumnDef="away">
            <mat-cell *matCellDef="let element" class="team"></mat-cell>
        </ng-container>

        <ng-container matColumnDef="score">
            <mat-cell *matCellDef="let element" class="score"></mat-cell>
        </ng-container>

        <ng-container *ngFor="let playerKey of playerKeys" matColumnDef="{{playerKey}}">
            <mat-cell *matCellDef="let element" class="team">
                <span class="center">{{getStatusMatrix(playerKey, element["ref"])}}</span>
            </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-form-field class="example-full-width">
        <mat-label>Select Week</mat-label>
        <mat-select (selectionChange)="changeWeek($event.value)">
            <mat-option *ngFor="let week of weeks; index as i" [value]="week">Week {{i+1}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>