.list{
    flex: 1;
    padding-right: 1px;
}

.tile{
    border-style: solid;
    border-width: 1px;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    writing-mode: vertical-lr;
    height: 80px;
    white-space:nowrap;
    overflow:hidden;
    margin-bottom: 5px;
}

.headerContainer{
    min-height: 130px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.winner{
    background-color:#5cd65c;
}

.loser{
    background-color: red;
    color: white;
    border-color: black;
}
